<header class="header">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="logo">
        <a href="#">
          <img [src]="logoPic" alt="" class="img-fluid">
        </a>
      </div>
      <nav class="navbar navbar-expand-md">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto fs-4 text-white">
            <li class="nav-item">
              <a class="nav-link text-reset" [routerLink]="'/homepage'">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-reset" [routerLink]="'/roomsInfo'">Rooms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-reset" [routerLink]="'/admin'">Contact us</a>
            </li>
            <li class="nav-item" *ngIf="authService.isLoggedIn(); else registerLink">
              <a class="nav-link text-reset" [routerLink]="'/profile'">Profile</a>
            </li>
            <ng-template #registerLink>
              <li class="nav-item">
                <a class="nav-link text-reset" [routerLink]="'/register'">Register</a>
              </li>
            </ng-template>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
