<div class="footer">
  <div class="container">
    <div class="footer-wrapper p-5 d-flex justify-content-lg-between justify-content-center align-items-center text-white fs-5 lh-2 flex-column flex-lg-row">
      <div class="contact-info text-center text-lg-start mb-4 mb-lg-0">
        <img [src]="footerLogoPic" alt="" class="mb-4">
        <p>497 Evergreen Rd. Roseville, CA 95673</p>
        <p>+44 345 678 903</p>
        <p>luxury_hotels&#64;gmail.com</p>
      </div>
      <nav class="navbar mb-4 mb-lg-0">
        <ul class="nav d-flex flex-column align-items-center align-items-lg-start">
          <li class="nav-item">
            <a href="" class="nav-link text-reset text-decoration-none">About us</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link text-reset text-decoration-none">Contact</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link text-reset text-decoration-none text-center">Terms & Conditions</a>
          </li>
        </ul>
      </nav>

      <nav class="navbar">
        <ul class="nav d-flex flex-column align-items-center align-items-lg-start">
          <li class="nav-item">
            <a href="" class="nav-link text-reset text-decoration-none">
              <img [src]="facebookIcon" alt="" class="me-3">Facebook
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link text-reset text-decoration-none">
              <img [src]="twitterIcon" alt="" class="me-3">Twitter
            </a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link text-reset text-decoration-none">
              <img [src]="instagramIcon" alt="" class="me-3">Instagram
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
