<div class="container">
  <div>
    <div>
      <h3 class="mt-5">Payments</h3>
      <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>Payment Id</th>
          <th>Card Number</th>
          <th>Payment Date</th>
          <th>Status</th>
          <th>Amount</th>
          <th>Client ID</th>
          <th>Reservation ID</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let payment of payments">
          <td>{{ payment.id }}</td>
          <td>{{ payment.cardNumber }}</td>
          <td>{{ payment.paymentDate }}</td>
          <td>{{ payment.status }}</td>
          <td>{{ payment.amount }}</td>
          <td>{{ payment.clientId }}<td>
            {{ payment.reservationId }}
          </td>

          <td>
            <div class="button-container">
              <button
                class="btn btn-danger btn-fixed ms-2"
                (click)="onDeletePayment(payment)"
              >
                Delete
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
