<div class="admin-page-container">
  <h1>Admin page</h1>
  <button class="btn btn-primary update-btn" [routerLink]="['/homepage']">
    Go to Homepage
  </button>
  <br>
  <div class="btn-group mt-lg-4 button-group-spacing" role="group">
    <button class="btn btn-secondary" (click)="activeSection = 'room'">Room Management</button>
    <button class="btn btn-secondary" (click)="activeSection = 'client'">Client Management</button>
    <button class="btn btn-secondary" (click)="activeSection = 'amenity'">Amenity Management</button>
    <button class="btn btn-secondary" (click)="activeSection = 'reservation'">Reservation Management</button>
    <button class="btn btn-secondary" (click)="activeSection = 'payment'">Payment Management</button>
  </div>

  <div *ngIf="activeSection === 'room'">
    <app-room-management></app-room-management>
  </div>

  <div *ngIf="activeSection === 'client'">
    <app-client-management></app-client-management>
  </div>

  <div *ngIf="activeSection === 'amenity'">
    <app-amenity-management></app-amenity-management>
  </div>
  <div *ngIf="activeSection === 'reservation'">
    <app-reservation-management></app-reservation-management>
  </div>
  <div *ngIf="activeSection === 'payment'">
    <app-payment-management></app-payment-management>
  </div>
  <br>
</div>
<app-footer></app-footer>
