<div class="form-group inner-addon inner right-addon position-relative">
  <label for="inputPassword"></label>
  <input name="password"
         [type]="showPassword ? 'text' : 'password'"
         class="form-control form-control-lg pwd-control"
         id="inputPassword" placeholder="{{fieldText}}">
  <i alt="show" class="far fa-eye"
     (click)="showPassword = !showPassword"
     [class.hide]="showPassword"></i>
  <i alt="hide" class="far fa-eye-slash"
     (click)="showPassword = !showPassword"
     [class.hide]="!showPassword"></i>
</div>
