.back-button {
  top: 20px;
  left: 20px;
  padding: 10px 40px;
  background-color: #E0B973;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.back-button:hover {
  background-color: #E0B973;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.back-button:active {
  transform: scale(0.98);
}

.rooms-booking-section {
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;

}
